{% extends 'base/base.html' %}
{% load static %}

{% block contents %}
<h1>Products Detail</h1>

        <div class="container">
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.image.url}}" class="card-img-top" alt="{{ product.title }}" height="250px">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.price }}</p>
                    </div>
                </div>
            </div>
        </div>

{#    <img src="{{ product.image.url }}" alt="{{ product.title }}" style="height: 200px">#}
{#    <h3>{{ product.title }}</h3>#}
{#    <p>{{ product.description }}</p>#}
{#    <p>{{ product.price }}</p>#}

{% endblock %}