{% extends 'base/base.html' %}
{% load render_partial %}
{% load humanize %}
{% load static %}
{% block contents %}

<head>
    <!-- Other head elements -->

    <!-- Lightbox2 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" integrity="sha256-qcOQNXnJ5hoETxAgfv5Bnz7ZTqQ4Q8TR3s+/bA6Nk4I=" crossorigin="anonymous" />

    <!-- Lightbox2 JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" integrity="sha256-m0U+7HqLv4N33BEptP0ZMqBXAC0qj7DQGRshQK6oT1A=" crossorigin="anonymous"></script>

</head>


    <div id="container">
    <div class="container">
        <br>
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
          <div itemscope="" itemtype="http://schema.org/محصولات">
            <h1 class="title" itemprop="name">{{ product.title }}</h1>
            <div class="row product-info">
              <div class="col-sm-6">
                <div class="image"><div style="height:350px;width:350px;" class="zoomWrapper"><img class="img-responsive" itemprop="image" id="zoom_01" src="{{ product.image.url }}" title="{{ product.title }}" alt="{{ product.title }}" data-zoom-image="{{ product.image.url }}" style="position: absolute; object-fit: contain; width: 100%; height: 100%;"></div> </div>
                <div class="center-block text-center"><span class="zoom-gallery"><i class="fa fa-search"></i> برای مشاهده گالری روی تصویر کلیک کنید</span></div>
                <div class="image-additional" id="gallery_01">
                    {% for image_gallery in gallery %}
                        <a class="thumbnail" href="{{ image_gallery.image.url }}" data-lightbox="product-gallery" data-image="{{ image_gallery.image.url }}" title="{{ image_gallery.title }}">
                            <img class="img-responsive" style="height: 100px; width: 100px; object-fit: contain;" src="{{ image_gallery.image.url }}" title="{{ image_gallery.title }}" alt="{{ image_gallery.title }}"></a>
                    {% endfor %}
                </div>

              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled description">
                  <li><b>کد محصول :</b> <span itemprop="mpn">{{ product.id }}</span></li>
                  <li><b>وضعیت موجودی :</b> <span class="instock">موجود</span></li>
                </ul>
                <ul class="price-box">
                    <li></li>
                  <li class="price">
                      <span class="price">{{ product.price|intcomma }} تومان</span>
                  </li>
                  <li></li>
                </ul>
                <div id="product">
                  <div class="cart">
                      <div>
                      <form action="/add-new-order" method="post">
                          {% csrf_token %}
                          <div class="qty">
                              {{ new_order_form.product_id }}
                              <label class="control-label" for="input-quantity">تعداد</label>
                                {{ new_order_form.count }}
                              <a class="qtyBtn plus" href="javascript:void(0);">+</a><br>
                              <a class="qtyBtn mines" href="javascript:void(0);">-</a>
                              <div class="clear"></div>
                          </div>
                          <button type="submit" id="button-cart" class="btn btn-primary btn-lg">افزودن به سبد خرید</button>
                      </form>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab-description" data-toggle="tab">توضیحات</a></li>
            </ul>
            <div class="tab-content">
              <div itemprop="description" id="tab-description" class="tab-pane active">
                <div>
                  <p style="text-align: justify;">{{ product.description }}</p>
                </div>
              </div>
            </div>
            <h3 class="subtitle">محصولات مرتبط</h3>
            <div class="owl-carousel related_pro">
                {% for product in related_products %}
                    <div class="product-thumb">
                        <div class="image"><a href="{{ product.get_product_detail_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}" title="{{ product.title }}" class="img-responsive" /></a></div>
                        <div class="caption">
                          <h4><a href="{{ product.get_product_detail_url }}">{{ product.title }}</a></h4>
                          <p class="price">
                              <span class="price-new">{{ product.price }} تومان</span>
                          </p>
                          <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                        </div>
                        <div class="button-group">
                            <a href="{{ product.get_product_detail_url }}">
                                <button class="btn-primary" type="button" onClick=""><span>مشاهده محصول</span></button>
                            </a>
                          <div class="add-to-links">
                            <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick=""><i class="fa fa-heart"></i></button>
                            <button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i class="fa fa-exchange"></i></button>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </div>
          </div>
        </div>
        <!--Middle Part End -->
        <!--Right Part Start -->
        <aside id="column-right" class="col-sm-3 hidden-xs">
            {% render_partial 'product_categories_partial' %}
          <h3 class="subtitle">محصولات ویژه</h3>
          <div class="side-item">
              {% for product in featured_products %}
                  <div class="product-thumb clearfix">
                      <div class="image"><a href="{{ product.get_product_detail_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}" title="{{ product.title }}" class="img-responsive" /></a></div>
                      <div class="caption">
                          <h4><a href="{{ product.get_product_detail_url }}">{{ product.title }}</a></h4>
                          <p class="price"> <span class="price-new">{{ product.price }} تومان</span></p>
                      </div>
                  </div>
              {% endfor %}
          </div>
          <h3 class="subtitle">محصولات پربازدید</h3>
          <div class="side-item">
              {% for product in most_viewed_products %}
                  <div class="product-thumb clearfix">
                      <div class="image"><a href="{{ product.get_product_detail_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}" title="{{ product.title }}" class="img-responsive" /></a></div>
                      <div class="caption">
                          <h4><a href="{{ product.get_product_detail_url }}">{{ product.title }}</a></h4>
                          <p class="price"> <span class="price-new">{{ product.price }} تومان</span></p>
                      </div>
                  </div>
              {% endfor %}
          </div>
        </aside>
        <!--Right Part End -->
      </div>
    </div>
  </div>

{% endblock %}