{% extends 'base/base.html' %}
{% load static %}

{% block contents %}
    <h1>Products list</h1>

    <div class="container">
        <div class="row">
            {% for product in products_list %}
                <div class="col-md-3">
                    {% include 'product_component.html' with product=product %}
                </div>
            {% endfor %}
        </div>
    </div>



{#    {% for product in object_list %}#}
{#        <h3>{{ product.title }}</h3>#}
{#    {% endfor %}#}
{% endblock %}