{% extends 'base/base.html' %}
{% load static %}

{% block contents %}

    <h1>Hi</h1>
    <h4 class="text-center">{{ contact_us }}</h4>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ contact_form }}
                    <button class="btn btn-success">Send</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}