{% extends 'base/base.html' %}
{% load render_partial %}
{% load static %}
{% block contents %}


  <div id="container">
    <!-- Feature Box End-->
    <div class="container">
      <div class="row">
        <!-- Left Part Start-->
        <aside id="column-left" class="col-sm-3 hidden-xs">
          {% render_partial 'product_categories_partial' %}
          <h3 class="subtitle">محصولات ویژه</h3>
          <div class="side-item">
              {% for product in featured_products %}
                  <div class="product-thumb clearfix">
                      <div class="image"><a href="{{ product.get_product_detail_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}" title="{{ product.title }}" class="img-responsive" /></a></div>
                      <div class="caption">
                          <h4><a href="{{ product.get_product_detail_url }}">{{ product.title }}</a></h4>
                          <p class="price"> <span class="price-new">{{ product.price }} تومان</span></p>
                      </div>
                  </div>
              {% endfor %}
          </div>
          <h3 class="subtitle">محصولات پربازدید</h3>
          <div class="side-item">
              {% for product in most_viewed_products %}
                  <div class="product-thumb clearfix">
                      <div class="image"><a href="{{ product.get_product_detail_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}" title="{{ product.title }}" class="img-responsive" /></a></div>
                      <div class="caption">
                          <h4><a href="{{ product.get_product_detail_url }}">{{ product.title }}</a></h4>
                          <p class="price"> <span class="price-new">{{ product.price }} تومان</span></p>
                      </div>
                  </div>
              {% endfor %}
          </div>
        </aside>
        <!-- Left Part End-->
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
          <!-- Slideshow Start-->
          <div class="slideshow single-slider owl-carousel">
              {% for slider in sliders %}
                  <div class="item {{ forloop.first|yesno:"active," }}">
                      <a href="{{ slider.link }}"><img class="img-responsive" src="{{ slider.image.url }}" alt="{{ slider.title }}" /></a>
                  </div>
              {% endfor %}
          </div>
          <!-- Slideshow End-->
          <!-- Featured محصولات Start-->
          <h3 class="subtitle">محصولات ویژه</h3>
          <div class="owl-carousel product_carousel">
              {% for product in featured_products %}
                  <div class="product-thumb clearfix">
                      <div class="image"><a href="{{ product.get_product_detail_url }}">
                          <div style="height: 150px; width: 150px;" class="zoomWrapper">
                              <img src="{{ product.image.url }}" alt="{{ product.title }}" title="{{ product.title }}" class="img-responsive" style="object-fit: contain; width: 100%; height: 100%;">
                          </div>
                      </a></div>
                      <div class="caption">
                          <h4><a href="{{ product.get_product_detail_url }}">{{ product.title }}</a></h4>
                          <p class="price"> <span class="price-new">{{ product.price }} تومان</span></p>
                      </div>
                  </div>
              {% endfor %}
          </div>
          <!-- Featured محصولات End-->
        
          <!-- Featured محصولات Start-->
          <h3 class="subtitle">محصولات پربازدید</h3>
          <div class="owl-carousel product_carousel">
              {% for product in most_viewed_products %}
                  <div class="product-thumb clearfix">
                      <div class="image"><a href="{{ product.get_product_detail_url }}">
                          <div style="height: 150px; width: 150px;" class="zoomWrapper">
                              <img src="{{ product.image.url }}" alt="{{ product.title }}" title="{{ product.title }}" class="img-responsive" style="object-fit: contain; width: 100%; height: 100%;">
                          </div>
                      </a></div>
                      <div class="caption">
                          <h4><a href="{{ product.get_product_detail_url }}">{{ product.title }}</a></h4>
                          <p class="price"> <span class="price-new">{{ product.price }} تومان</span></p>
                      </div>
                  </div>
              {% endfor %}
          </div>
          <!-- Featured محصولات End-->
        
          <!-- Featured محصولات Start-->
          <h3 class="subtitle">جدیدترین محصولات</h3>
          <div class="owl-carousel product_carousel">
              {% for product in latest_products %}
                  <div class="product-thumb clearfix">
                      <div class="image"><a href="{{ product.get_product_detail_url }}">
                          <div style="height: 150px; width: 150px;" class="zoomWrapper">
                              <img src="{{ product.image.url }}" alt="{{ product.title }}" title="{{ product.title }}" class="img-responsive" style="object-fit: contain; width: 100%; height: 100%;">
                          </div>
                      </a></div>
                      <div class="caption">
                          <h4><a href="{{ product.get_product_detail_url }}">{{ product.title }}</a></h4>
                          <p class="price"> <span class="price-new">{{ product.price }} تومان</span></p>
                      </div>
                  </div>
              {% endfor %}
          </div>
          <!-- Featured محصولات End-->
        
          <!-- Banner Start -->
          <div class="marketshop-banner">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="#"><img src="{% static 'image/banner/sample-banner-4-400x150.jpg' %}" alt="2 Block Banner" title="2 Block Banner" /></a></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="#"><img src="{% static 'image/banner/sample-banner-5-400x150.jpg' %}" alt="2 Block Banner 1" title="2 Block Banner 1" /></a></div>
            </div>
          </div>
          <!-- Banner End -->
        </div>
        <!--Middle Part End-->
      </div>
    </div>
  </div>


{% endblock %}